$primary-color: #e98383;
$secondary-color: #f1da8a;
$third-color:#95e1d3;
$title-color:#333333;
$text-color:#999999;
$gray-color:#f8f8f8;
$button-color:#cccccc;
$primary-font: 'Montserrat', sans-serif;
$secondary-font:'Roboto', sans-serif;
$third-font:'Kaushan Script', cursive;
//KaushanScript Regular
//Montserrat Bold
//Roboto Regular
$wrapper:1920px;
$container:1200px;
