footer.footer
	.container 
		.footer-top
			.footer-column
				.footer-heading--logo MoGo
				.footer-main 
					p.footer-desc Lorem ipsum dolor sit amet, sum dolor sit ame sum dolsum dolor sit ame	sum dolor sit amesum dolor sit amesum dolor sit amesum dolor sit amesum dolor sit amesum dolor sit amesum dolor sit amesum dolor sit ameor sit ame do ea.
					.footer-follower
						h3.footer-follower-number 15k
						h5.footer-follower-text followers
				.footer-us 
					.footer-follow
						.footer-follow-text.text.text--light Follow Us:
						.footer-follow-list-icon 
							a(href="#").i.fab.fa-facebook-f.footer-follow-icon
							a(href="#").i.fab.fa-twitter.footer-follow-icon
							a(href="#").i.fab.fa-instagram.footer-follow-icon
							a(href="#").i.fab.fa-pinterest-p.footer-follow-icon
							a(href="#").i.fab.fa-google.footer-follow-icon
							a(href="#").i.fab.fa-youtube.footer-follow-icon
					.footer-email
						input(type="email",placeholder="Your email...").footer-email-input.text.text--light
						button.footer-email-button subscribe
			.footer-column
				.footer-heading Blogs
				.footer-list
					.footer-item 
						img(src="../images/img-blogs1.png").footer-image
						.footer-content 
							.footer-title Lorem ipsum dolncididunt ut labore et dolore magna aliqua.
							.footer-date.text Dec 20,2023
					.footer-item 
						img(src="../images/img-blogs2.png").footer-image
						.footer-content 
							.footer-title Lorem ipsum dolncididunt ut labore et dolore magna aliqua.
							.footer-date.text Dec 20,2023
					.footer-item 
						img(src="../images/img-blogs3.png").footer-image
						.footer-content 
							.footer-title Lorem ipsum dolncididunt ut labore et dolore magna aliqua.
							.footer-date.text Dec 20,2023
			.footer-column
				.footer-heading instagram
				.footer-list-img
					.footer-list-column-img
						img(src="https://images.unsplash.com/photo-1542601098-8fc114e148e2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNub3d8ZW58MHx8MHx8fDA%3D").footer-img 
						img(src="https://plus.unsplash.com/premium_photo-1669907525470-586042acc33c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c25vd3xlbnwwfHwwfHx8MA%3D%3D").footer-img 
						img(src="https://images.unsplash.com/photo-1551582045-6ec9c11d8697?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNub3d8ZW58MHx8MHx8fDA%3D").footer-img
					.footer-list-column-img
						img(src="https://images.unsplash.com/photo-1431036101494-66a36de47def?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHNub3d8ZW58MHx8MHx8fDA%3D").footer-img 
						img(src="https://images.unsplash.com/photo-1488818138649-d2734488e6d0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fHNub3d8ZW58MHx8MHx8fDA%3D").footer-img 
						img(src="https://images.unsplash.com/photo-1589988896299-ef86bbf5102e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTN8fHNub3d8ZW58MHx8MHx8fDA%3D").footer-img 
					.footer-list-column-img
						img(src="https://images.unsplash.com/photo-1484312152213-d713e8b7c053?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fHNub3d8ZW58MHx8MHx8fDA%3D").footer-img 
						img(src="https://images.unsplash.com/photo-1487782310695-ed8583618566?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fHNub3d8ZW58MHx8MHx8fDA%3D").footer-img 
						img(src="https://images.unsplash.com/photo-1518972734183-c5b490a7c637?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzR8fHNub3d8ZW58MHx8MHx8fDA%3D").footer-img
				.footer-instagram-text.text View more photos
		.footer-bottom
			.footer-design 
				i.fa.fa-copyright.footer-design-icon
				.footer-design-title 2023 MoGo free PSD template by <span>DucNhong</span>


			