section.people
  .container
    +blockBox("Happy Clients","what people say")
    ul.people-list 
      +peopleItem ("../images/img-people1.png","David Dix","Graph Designer","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      +peopleItem ("../images/img-people2.png","Campell Alamzabethh","Graph Designer","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      +peopleItem ("../images/img-people3.png","Watson","Graph Designer","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      +peopleItem ("../images/img-people4.png","Sherlock Holmes","Graph Designer","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")