section.service 
  .container 
    +blockBox("We work with","Amazing services")
    .service-container
      .service-list 
        +serviceItem("../images/img-service-icon1.png","Photograph","lorem ipsum dolor sit ametlorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet ")
        +serviceItem("../images/img-service-icon2.png","Web design","lorem ipsum dolor sit ame lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amett")
        +serviceItem("../images/img-service-icon3.png","Creativity","lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet")
      .service-list 
        +serviceItem("../images/img-service-icon4.png","SEO","lorem ipsum dolor sit ametlorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet ")
        +serviceItem("../images/img-service-icon5.png","CSS/HTML","lorem ipsum dolor sit ame lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amett")
        +serviceItem("../images/img-service-icon6.png","Digital","lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet")
        