section.story
  .container
    +blockBox("Our stories","Lasest blog")
    .story-list 
      +storyItem("https://images.unsplash.com/photo-1702627587052-c0d39b978d29?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D","14","Dec","Lorem ipsum dolor sit amet","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      +storyItem("https://images.unsplash.com/photo-1702893576128-21feb60299d1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8","10","Nov","Lorem ipsum dolor sit amet","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      +storyItem("https://images.unsplash.com/photo-1702671857746-1b67d91f3b80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEwfHcxNUhmUW95elhVfHxlbnwwfHx8fHw%3D","24","Oct","Lorem ipsum dolor sit amet","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
section.map 
  i.fas.fa-location.map-icon 
  h3.map-title Open map