section.team 
  .container
    +blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet con laoreet and consectetur adipiscing elit  in a just and Lorem ipsum dolor sit amet con laoreet and consectetur adipiscing elit  in a just and Lorem ipsum dolor sit amet con laoreet and consectetur adipiscing elit  in a just and")
    .team-list
      +teamItem("../images/img-team1.png","Mathew Dias","Graphic Design")
        +teamSocial()
      +teamItem("../images/img-team2.png","Christopher Campbell","Branding/UX desgin")
        +teamSocial()
      +teamItem("../images/img-team3.png","Michael Fertig","Developer")
        +teamSocial()
section.brand 
  .container 
    img(src="../images/img-logos.png").brand-img
