section.quote 
  .container
    .quote-container 
      //- i.fa.fa-angle-left.quote-arrow-left.quote-arrow
      +quoteItem("../images/img-team1.png",true,"Joshua Earle")
      +quoteItem("../images/img-team2.png",true,"Joshua Earle")
      +quoteItem("../images/img-team3.png",true,"Joshua Earle")
      //- i.fa.fa-angle-right.quote-arrow-right.quote-arrow