section.work
  .container
    +blockBox("What we do","Some of our work","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
  .work-list 
    .work-column 
      +workItem("../images/img-work1.png","Creativity designed","Lorem ipsum dolor sit amet, consectetur adip")
      +workItem("../images/img-work2.png","Creativity designed","Lorem ipsum dolor sit amet, consectetur adip")
    .work-column 
      +workItem("../images/img-work3.png","Creativity designed","Lorem ipsum dolor sit amet, consectetur adip")
      +workItem("../images/img-work4.png","Creativity designed","Lorem ipsum dolor sit amet, consectetur adip")
    .work-column
      +workItem("../images/img-work5.png","Creativity designed",".woasdasda","work-item--full")
    .work-column 
      +workItem("../images/img-work6.png","Creativity designed","Lorem ipsum dolor sit amet, consectetur adip")
      +workItem("../images/img-work7.png","Creativity designed","Lorem ipsum dolor sit amet, consectetur adip")
      