.wrapper {
		max-width: $wrapper;
		margin: 0 auto;
}
.container {
	max-width: $container + 30px;
	margin: 0 auto;
	padding: 0 15px;
}
.block-box{
	text-align: center;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.block-box-caption{
	font-family: $third-font;
	font-size:24px;
	margin-bottom: 17px;
}
.block-box-heading{
	font-size:30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom:40px;
	padding-bottom:40px;
	position: relative;
}  
.block-box-heading::before{
	content:"";
	@include size(60px,3px);
	// @include absoluteCenter("left");
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	bottom:0;
	background-color:$primary-color;
}
.block-box-desc{
	font-size:15px;
	font-family: $secondary-font;
	color:$text-color;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 100px;
}

